<div id="home">
  <div class="row">
    <div class="col-8 offset-2">
      <h1 class="text-center">{{title}}</h1>

      <div class="row">
        <div class="col-md-6 text-right">
          <h1 id="her">HER</h1>
        </div>
        <div class="col-md-6">
          <h1 id="cosst">COSST</h1>
          <h4 id="costsatax">CO State Sales Tax</h4>
        </div>
      </div>

      <br>
      <p>Welcome to HER COSST, a project brought to you by the University of Denver Women's Coding Bootcamp. Our mission
        is to collect Colorado users' input regarding their 2018 expenses that are female-specific. We want input from
        all persons in Colorado making purchases in the following categories:
        <ul>
          <li>Menstruation,</li>
          <li>Pregnancy,</li>
          <li>Female-specific cosmetics,</li>
          <li>Female-specific garments, like bras and hosiery.</li>
        </ul>
        Please submit a response only if you purchase items in these categories.
      </p>
      <p>
        Our app collects user data and runs sales tax calculations to display the estimated percent of the total $3,313,143,000 Colorado state sales tax revenue that was collected from female-centric purchases.
      </p>
      <p>
        Data collected will not be made available to third parties.
      </p>
      <p>
        We rely on honest user submissions, only one response per user, to display an accurate estimate. We welcome input from all persons making purchases in these categories, not only those who identify as women.  
      </p>   
      <p>
        We welcome your feedback! Can you think of a way to improve our survey? What are we missing? Let us know in the feedback section of the survey.
      </p>
    </div>
  </div>
  <div class="text-right">
    <a href="/survey">
      <button type="button" class="text-right btn btn-success quiz">Take Survey!</button>
    </a>
  </div>
</div>