<div>
  <div class="row">
    <div class="col-8 offset-2">
      <h1 class="text-center">{{title}}</h1>
      <hr>
      <br>
      <div class="statePie rounded border border-success">

        <div id="stPieChart">
          <h4 class="text-left text-light ">Colorado State Sales Tax Revenue</h4>
          <p>
            Percent of the total $3,313,143,000 state sales tax revenue that was collected from the purchase of
            female-specific items.
          </p>
          <canvas id="statePieChart" width="150" height="50"></canvas>
          <br>
          <p>
            Until we have many responses, we don't expect the sliver of the pie that represents female-specific items to
            be visible. Even once visible, it still shouldn't be an enormous piece of the pie, but we predict that the
            revenue collected off of these items is substantial enough to show up. We look forward to seeing the visual
            representation of this portion of state revenue grow as more users submit responses.
          </p>
          <p>
            Check back for updates to this graph!
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
  var pName = window.location.pathname;
  var route = `/api${pName}`;
  $.get(route)
    .then(function (data) {
      var stateTaxRate = .029;
      var stateTaxRev = 3313143000;
      var coloradoWomenPop = 2825000;

      var totalTotal = parseFloat(data.totalTotal);
      var taxTotal = totalTotal * stateTaxRate;

      var totalTaxPercent = taxTotal / stateTaxRev;

      var statePieCtx = document.getElementById('statePieChart').getContext('2d');
      var statePieChart = new Chart(statePieCtx, {
        type: 'pie',
        data: {
          labels: ['Percent of CO sales tax revenue from female-specific items.'],
          datasets: [{
            label: 'Female-specific',
            data: [totalTaxPercent, 1 - totalTaxPercent],
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 2
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });
    });
</script>